html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body { 
  background: url(../images/bg6.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Kodchasan', sans-serif;
  color:white;
  
}

.contact-menu{
  display: flex;
  justify-content: flex-end;
  
  .menu-items{
    display:flex;
    justify-content: space-between;
    width:30%;

    a{
      color:white;
    }
    a:hover{
      border-bottom:5px solid white;
    }
  }
}

.profile-container{
  display: flex;
  background-color:rgba(128, 128, 128, 0.3);
  justify-content: center;
  flex-direction: column;
  i{
    font-size:64px;
  }
  .profile-card {
    
    display: flex;
    flex-direction: column;
    
    padding:20px;
    justify-content: space-between;
    align-items: center;
    img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom:2%;
    }
  }

  .description{
    padding:50px;
    font-size:1.3em;
    text-align: center;
  }

  .resume {
    align-self: center;
    a{
      color: white;
    }
    a:hover{
      text-decoration: none;
      color:rgb(255, 246, 118);
    }
  }

  .skills{
    text-align:center;
    margin-top:10%;
    h2{
      padding:30px;
    }
    h3{
      margin-top:2%;
    }
    hr{
      border: 2px solid white;
      border-radius: 50%;
      width:60%;
    }
    .languages {
      margin-top:4%;
      display: flex;
      justify-content: space-around;
    }
    .framework-libraries {
      margin-top:4%;
      display: flex;
      justify-content: space-around;
    }
    .database{
      margin-top:4%;
      display: flex;
      width:50%;
      margin-left:25%;
      margin-right:25%;
      justify-content: space-around;
    }
  }

  .projects {
    margin-top:10%;
    font-size: 1.3em;
    text-align: center;
    h2{
      padding:30px;
    }
    h3{
      margin-top:5%;
    }
    hr{
      border: 2px solid white;
      border-radius: 50%;
      width:60%;
    }
  }



}

// .debug {
//   border: 1px red solid;
// }

ion-icon{
  font-size:64px;
}

.hidden {
  display:none;
}

@media all and (max-width:985px){




  .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 
  .contact-menu{
    display: flex;
    justify-content: center;
    // padding-right: 15px;
    // padding-left: 15px;

    .menu-items{
      display:flex;
      width:100%;
      margin-left:10px;
      
      a{
        color:white;
      }
      a:hover{
        border-bottom:5px solid white;
      }
    }
  }
}
