body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.contact-menu {
  display: flex;
  justify-content: flex-end;
}

.contact-menu .menu-items {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.contact-menu .menu-items a {
  color: white;
}

.contact-menu .menu-items a:hover {
  border-bottom: 5px solid white;
}

.profile-container {
  display: flex;
  background-color: rgba(70, 69, 69, 0.7);
  justify-content: center;
  flex-direction: column;
}

.profile-container i {
  font-size: 64px;
}

.profile-container .profile-card {
  display: flex;
  flex-direction: column;
  height: 30vh;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.profile-container .profile-card img {
  width: 200px;
  height: 182px;
  border-radius: 50%;
}

.profile-container .description {
  padding: 50px;
  font-size: 1.3em;
  text-align: center;
}

.profile-container .skills {
  text-align: center;
  margin-top: 10%;
}

.profile-container .skills h2 {
  padding: 30px;
}

.profile-container .skills h3 {
  margin-top: 2%;
}

.profile-container .skills hr {
  border: 2px solid white;
  border-radius: 50%;
  width: 60%;
}

.profile-container .skills .languages {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}

.profile-container .skills .framework-libraries {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}

.profile-container .skills .database {
  margin-top: 4%;
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-around;
}

.profile-container .projects {
  margin-top: 10%;
  font-size: 1.3em;
  text-align: center;
}

.profile-container .projects h2 {
  padding: 30px;
}

.profile-container .projects hr {
  border: 2px solid white;
  border-radius: 50%;
  width: 60%;
}

ion-icon {
  font-size: 64px;
}

.hidden {
  display: none;
}

@media all and (max-width: 985px) {
  .contact-menu {
    display: flex;
    justify-content: center;
  }
  .contact-menu .menu-items {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
  .contact-menu .menu-items a {
    color: white;
  }
  .contact-menu .menu-items a:hover {
    border-bottom: 5px solid white;
  }
}
